// normalize style
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
  padding: 0 20px;
  max-width: 760px;
  margin: 0 auto;
  box-sizing: content-box;
}

.card {
  background-color: #fff;
  box-sizing: border-box;
  width: 360px;
  height: 600px;
  box-shadow: 0 3.2px 2.2px rgba(0, 0, 0, .02), 0 7px 5.4px rgba(0, 0, 0, .028), 0 12.1px 10.1px rgba(0, 0, 0, .035), 0 19.8px 18.1px rgba(0, 0, 0, .042), 0 34.7px 33.8px rgba(0, 0, 0, .05), 0 81px 81px rgba(0, 0, 0, .07);
  border-radius: 30px;
  overflow: hidden;
  padding: 0 28px;
  position: relative;
  margin-bottom: 20px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-color: #f6c90e;
    top: -20%;
    left: -50%;
    z-index: 0;
  }

  .card-header {
    margin: 16px 0;
    position: relative;

    .nike-img {
      display: block;

      img {
        width: 50px;
      }
    }

    .card-title {
      font-size: 24px;
      font-weight: 700;
      margin: 16px 0;
      position: relative;
    }

    .cart-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .card-body {
    height: calc(100% - 116px);
    position: relative;
    overflow-y: scroll;
    padding-bottom: 30px;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}


.product-item {
  padding: 40px 0;

  &:first-child {
    padding-top: 0;
  }

  .product-img-ctn {
    border-radius: 30px;
    height: 380px;
    display: flex;
    align-items: center;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      filter: drop-shadow(0 30px 20px rgba(0, 0, 0, .2));
      transform: rotate(-24deg);
      margin-left: -16px;
    }
  }

  .product-content {
    .product-title {
      font-size: 20px;
      font-weight: 700;
      margin: 26px 0 20px;
      line-height: 1.5;
    }

    .product-description {
      font-size: 13px;
      color: #777;
      line-height: 1.8;
      margin-bottom: 20px;
    }
  }

  .product-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .product-price {
      font-size: 18px;
      font-weight: 700;
    }

    .product-btn {
      cursor: pointer;
      background-color: #f6c90e;
      font-weight: 700;
      font-size: 14px;
      box-sizing: border-box;
      width: auto;
      height: 46px;
      min-width: 46px;
      padding: 16px 20px;
      border-radius: 100px;
      transition: all .25s ease;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      white-space: nowrap;
      position: relative;
      display: flex;
      align-items: center;
      overflow: hidden;
      outline: none;
      border: none;

      &:hover,
      &:focus {
        background-color: #f8d43f;
        box-shadow: -2px 2px 4px rgba(0, 0, 0, .15);
      }

      &::before {
        content: 'ADD TO CART'
      }

      &.added::before {
        content: '';
        background: url("./assets/check.png") no-repeat center center;
        width: 16px;
        height: 16px;
        background-size: contain;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.cart-item {
  display: flex;
  padding: 20px 0;

  .left {
    flex: 0;

    .img-ctn {
      width: 90px;
      height: 90px;
      border-radius: 100%;
      background-color: #eee;
      margin-right: 34px;

      img {
        display: block;
        width: 140%;
        transform: rotate(-28deg) translateY(-40px);
        filter: drop-shadow(0 30px 20px rgba(0, 0, 0, .2));
      }
    }
  }

  .right {
    flex: 1;

    .name {
      font-size: 14px;
      font-weight: 700;
      line-height: 1.5;
      margin-bottom: 10px;
    }

    .price {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 16px;
    }

    .button-group {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .count {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .count-btn {
          cursor: pointer;
          width: 28px;
          height: 28px;
          line-height: 28px;
          border-radius: 100%;
          background-color: #eee;
          font-size: 16px;
          font-weight: 700;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: .2s;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;

          &:hover,
          &:focus {
            background-color: #ddd;
          }
        }

        .quantity {
          font-size: 14px;
          margin: 0 8px;
          width: 20px;
          text-align: center;
        }
      }

      .remove-btn {
        width: 28px;
        height: 28px;
        cursor: pointer;
        transition: all .25s ease;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f6c90e;
        transition: .2s;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &:hover,
        &:focus {
          background-color: #f8d43f;
          box-shadow: -2px 2px 4px rgba(0, 0, 0, .15);
        }

        img {
          width: 16px;
          height: 16px;
        }
      }
    }


  }
}
